<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>group</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>menu.group.dashboard</string>
			<key>groupModule</key>
			<array>
				<dict>
					<key>type</key>
					<string>normal</string>
					<key>name</key>
					<string>menu.my</string>
					<key>method</key>
					<array>
						<dict>
							<key>name</key>
							<string>submenu.task</string>
							<key>parameters</key>
							<array>
								<dict>
									<key>option</key>
									<false/>
									<key>keyword</key>
									<string>m</string>
									<key>value</key>
									<string>my</string>
								</dict>
								<dict>
									<key>option</key>
									<false/>
									<key>keyword</key>
									<string>f</string>
									<key>value</key>
									<string>task</string>
								</dict>
								<dict>
									<key>option</key>
									<true/>
									<key>option.default</key>
									<string>assignedTo</string>
									<key>keyword</key>
									<string>type</string>
									<key>value</key>
									<dict>
										<key>assignedTo</key>
										<string>option my task type assignedTo</string>
									</dict>
								</dict>
								<dict>
									<key>option</key>
									<true/>
									<key>option.default</key>
									<string>id_desc</string>
									<key>keyword</key>
									<string>orderBy</string>
									<key>value</key>
									<dict>
										<key>id_desc</key>
										<string>option my task orderBy id_desc</string>
									</dict>
								</dict>
							</array>
							<key>viewController</key>
							<string>ZTCListViewController</string>
							<key>itemViewController</key>
							<string>ZTCTaskViewController</string>
							<key>itemName</key>
							<string>name</string>
							<key>itemsNameInJSON</key>
							<string>tasks</string>
							<key>title</key>
							<string>title.my-task</string>
						</dict>
						<dict>
							<key>name</key>
							<string>submenu.bug</string>
							<key>parameters</key>
							<array>
								<dict>
									<key>option</key>
									<false/>
									<key>keyword</key>
									<string>m</string>
									<key>value</key>
									<string>my</string>
								</dict>
								<dict>
									<key>option</key>
									<false/>
									<key>keyword</key>
									<string>f</string>
									<key>value</key>
									<string>bug</string>
								</dict>
								<dict>
									<key>option</key>
									<true/>
									<key>option.default</key>
									<string>assignedTo</string>
									<key>keyword</key>
									<string>type</string>
									<key>value</key>
									<dict>
										<key>assignedTo</key>
										<string>option my bug type assignedTo</string>
									</dict>
								</dict>
								<dict>
									<key>option</key>
									<true/>
									<key>option.default</key>
									<string>id_desc</string>
									<key>keyword</key>
									<string>orderBy</string>
									<key>value</key>
									<dict>
										<key>id_desc</key>
										<string>option my bug orderBy id_desc</string>
									</dict>
								</dict>
							</array>
							<key>viewController</key>
							<string>ZTCListViewController</string>
							<key>itemViewController</key>
							<string>ZTCBugViewController</string>
							<key>itemName</key>
							<string>title</string>
							<key>itemsNameInJSON</key>
							<string>bugs</string>
							<key>title</key>
							<string>title.my-bug</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>menu.group.setting</string>
			<key>groupModule</key>
			<array>
				<dict>
					<key>type</key>
					<string>normal</string>
					<key>name</key>
					<string>menu.setting</string>
					<key>method</key>
					<array>
						<dict>
							<key>name</key>
							<string>submenu.setting</string>
							<key>viewController</key>
							<string>ZTCSettingViewController</string>
						</dict>
						<dict>
							<key>name</key>
							<string>submenu.about</string>
							<key>viewController</key>
							<string>ZTCAboutViewController</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
